
html {
    background-color: red;
}

body {
    margin: 0;
}

header {
    background: blue;
}

main {
    background: white;
    min-height: 25em;
}

footer {
    background: white;
}

nav {
    display: inline-block;
    margin: 0 auto;
}

nav ul {
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}